@use '../../utils/styles/utils.scss' as *;

.collapsible {
  div {
    margin-bottom: 20px;
  }
  button {
    cursor: pointer;
    font-family: $main-font;
    @include flex_row;
    align-items: center;
    justify-content: space-between;
    background: $main-color;
    border: none;
    border-radius: $rounded-5;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    font-size: 13px;
    font-weight: $title-font-weight;
    color: white;

    @include respond-to('laptop') {
      font-size: 24px;
      height: 52px;
    }
  }

  .collapse-content {
    background: $gallery-bg;
    font-size: 12px;
    padding: 20px;
    border-radius: $rounded-5;

    @include respond-to('laptop') {
      font-size: 18px;
    }
  }
}
