@use '../../utils/styles/utils.scss' as *;

header {
  @include flex_row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px !important;
  margin-bottom: 27px !important;

  @include respond-to('laptop') {
    margin-top: 45px !important;
    margin-bottom: 50px !important;
  }

  img {
    @include respond-to('laptop') {
      width: 210px;
    }
  }

  ul {
    @include flex_row;
    gap: 1.5rem;

    @include respond-to('laptop') {
      gap: 2rem;
    }

    @include respond-to('laptop-l') {
      gap: 60px;
    }

    li {
      font-size: 12px;
      font-weight: $header-font-weight;
      @include respond-to('laptop') {
        font-size: 18px;
      }

      @include respond-to('laptop-l') {
        font-size: 24px;
      }
    }
  }

  .underline {
    text-decoration-line: underline;
  }
}

// ul {
//   @include flex_row;
//   gap: 1.5rem;

//   li {
//     font-size: 12px;
//     font-weight: $header-font-weight;
//   }
// }

// .underline {
//   text-decoration-line: underline;
// }
